@font-face {
    font-family: 'Roboto';
    src: url('fonts/roboto-regular-webfont.woff2') format('woff2');
    src: url('fonts/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: AppleSystemUIFont, Roboto, sans-serif;
}

html, body {
    width: 100vw;
    height: 100vh;
}

body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 6fr;
}

.sidebar {
    background: #622E81;
    grid-column: 1 / 2;
    grid-row: 1 / -1;

    color: white;
    padding: 12px;

    display: flex;
    flex-direction: column;
    gap: 64px;
}

.sidebar-header {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 4fr;
    column-gap: 4px;
}

.logo {
    fill: white;
    width: 48px;
    justify-self: center;
}

.icon {
    fill: white;
    width: 28px;
    justify-self: center;
}

.navigation-menu{
    font-size: 1.25rem;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 4fr;
    column-gap: 4px;
    row-gap: 24px;
}

.navigation-menu > a{
    text-decoration: none;
    color: white;
}

header {
    background: #FFF;
    grid-column: 2 / -1;
    grid-row: 1 / 2;
    padding: 12px 24px;
}

.search,
.notification {
    border: none;
    background: none;
    cursor: pointer;
}

.header-icon {
    fill: dimgrey;
    width: 28px;
    justify-self: center;
}

.user-img {
    border-radius: 100%;
    width: 48px;
    height: 48px;
}

.user-name {
    font-size: 1.25rem;
}

.first-row-container {
    display: flex;
    gap: 12px;
}

.search-container {
    display: grid;
    grid-template-columns: 1fr 20fr;
    align-items: center;
    margin-right: auto;
    gap: 12px;
}

button:hover {
    background: lightgray;
}

#search-input {
    border: none;
    background: #E2E7F0;
    border-radius: 48px;
    height: 31px;
    width: 100%;
}

.first-row-right-items {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    gap: 24px;
    align-items: center;
}

.second-row-container {
    margin-top: 24px;
}

.hero-user-img {
    width: 72px;
    height: 72px;
    border-radius: 100%
}

main {
    grid-column: 2 / -1;
    grid-row: 2 / -1;
    background-color: #E2E7F0;
}